@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Lobster+Two);

* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

body { 
    color:#222;
    font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	word-wrap: normal;
}

header {
	background-image: url(../images/backgrounds/color14.png);
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 14px;
	height: 450px;
}

section {
	padding: 1em 0;
}

h1 { 
	font-family: 'Lobster Two', cursive;
	color: white;
	font-size: 52px;
	text-align: center;
}

h2 {
	font-weight: lighter;
	color: #cec5ef;
	font-size: 24px;
	text-align: center;
}

p {
	margin-bottom: .75em;
	max-width: 75ch;
}

ul {
	padding-left: 55px;
	margin-bottom: 1em;
	max-width: 75ch;
}

div {
	padding-bottom:1px;
	padding-top: 1px;
}

nav {
	background-color: #ff8a47;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	padding: 12px;
	display: inline-block;
	width: 150px;
}

nav:hover {
	background-color: #fd9c65;
}

a {
	color: white;
	text-decoration: none;
}


#portfolio {
	background-color: #86d1bc;
	padding: 15px;
}

#about {
	padding-left: 15px;
	padding-top: 15px;
}

#references {
	background-image: url(../images/backgrounds/reference_background.jpg);
	background-size: 100%;
	padding-left: 15px;
	height: 325px;
}

#logo {
    height: auto;
}

#social {
	padding-left:15px;
}

#left {
    padding: 20px;
    float: left;
    width: 45%;
}

#right {
    padding: 20px;
    float: left;
    width: 55%;
}

.column {
	float: left;
	width: 250px
	padding: 15px;
}

.clearfix:after {
    visibility:hidden;
    display: block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
  }

.whitetext {
	color: white;
}

.whitescript {
	color: white;
	font-family: 'Lobster Two'; cursive;
	font-size: 24px;
}

.tealscript {
	color: #86d1bc;
	font-family: 'Lobster Two'; cursive;
	font-size: 24px;
}

.logo {
	text-align: center;
}

.centertitle {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width:700px;
}
