@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Lobster+Two);

* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

body { 
    background-repeat: no-repeat;
    color:#222;
    font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: normal;
}

header {
	background-image: url(../images/color14.png);
	background-size: 100%;
	padding: 14px;
	position: center;
}
section {
	padding:5em 0;
}
h1 { 
	font-family: 'Lobster Two', cursive;
	color: white;
	font-size: 48px
}

h2 {
	font-weight: lighter;
	color: #cec5ef;
	font-size: 20px;
}

h3 { 
	font-family: 'Lobster Two', cursive;
	color: #5ec2a5;
	font-size: 20px;
	padding:10px 0px 8px 15px;
}

h4 { 
	font-family: 'Lobster Two', cursive;
	color: white;
	font-size: 20px;
	padding: 4px 0px 8px 15px;
}


p {
	margin-bottom: .75em;
}

ul {
	padding-left: 55px;
	margin-bottom: 1em;
}

div {
	padding-bottom:3px;
	padding-top: 8px;
}
.logo {
	width:10em;
}






