@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Lobster+Two);

* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

body { 
    color:#222;
    font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	word-wrap: normal;
}

header {
	background-image: url(../images/backgrounds/color14.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 4em 0;
	text-align: center;
}

section {
	padding: 4em 0;
}

h1 { 
	font-family: 'Lobster Two', cursive;
	color: white;
	font-size: 3.25em;
	text-align: center;
}

h2 {
	font-weight: lighter;
	color: #cec5ef;
	font-size: 1.5em;
	text-align: center;
}

p {
	margin-bottom: .75em;
	font-size: 1em;
}

ul {
	padding-left: 3.5em;
	margin-bottom: 1em;
	width: 55ch;
}

nav {
	background-color: #ff8a47;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	padding: 1em;
	display: inline-block;
}

nav:hover {
	background-color: #fd9c65;
}

a {
	color: white;
	text-decoration: none;
}

#portfolio img {
    padding: .5em;
    float: left;
}

#about img {
	padding: 0 0 1.5em 0 ;
}

#portfolio {
	background-color: #86d1bc;
	padding: 1em;
	margin: auto;
}

#about {
	width: 37.5em;
	margin: auto;
}

#references {
	background-image: url(../images/backgrounds/reference_background.jpg);
	background-size: contain;
	padding-left: 1em;
	width: 100%;
}

#logo {
    height: auto;
}

#social {
	padding-left:1em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.column {
    padding: 1.25em;
    float: left;
    width: 50%;
}
.clearfix:after {
    visibility:hidden;
    display: block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
  }

.whitetext {
	color: white;
	font-size: 1em;
}

.whitescript {
	color: white;
	font-family: 'Lobster Two'; cursive;
	font-size: 1.75em;
	text-align: center;
}

.tealscript {
	color: #86d1bc;
	font-family: 'Lobster Two'; cursive;
	font-size: 1.75em;
	text-align: center;
}

.centertitle {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.logoimage {
	text-align: center;
	width: 100%;
    height: auto;
}

